title Simulator
style.
	.seat-list {
		list-style: none;
		padding-left: 0px;
	}
	.seat-list > li {
		display: inline-block;
		margin: 10px;
		padding: 10px;
		border: 1px solid #ccc!important;
	}
	.seat-list > li > ul {
		list-style: none;
		padding-left: 0px;
	}
	.group-indicator {
		border: 1px solid #ccc!important;
		width:20px; 
		height:20px;
	}
h1 Simulator
h3= 'Scenario: ' + (seatManager.getCurrentScenario() ? seatManager.getCurrentScenario().type : 'None')
ul(class='seat-list')
	each seat in seatManager.seats
		li
			ul
				b= 'Seat ' + seat.id
				li= 'Available: ' + seat.isAvailable()
				if seat.occupant
					li= 'Occupant: ' + seat.occupant.name
						br
						button(type='button' onClick='unoccupy('+seat.id+')') Unoccupy
				else
					li
						button(type='button' onClick='occupy('+seat.id+')') Occupy
				if seat.group
					li= 'Group: ' + seat.group.id
						div(class='group-indicator' style='background:'+seat.group.color+';')

script(src=app.mountpath + '/assets/js/jquery-3.1.1.min.js')
script.

	var occupy_endpoint = '#{app.mountpath}/occupy';
	var unoccupy_endpoint = '#{app.mountpath}/unoccupy';

	function occupy(seat_id){
		var person_id = prompt("NPM");
		if(person_id != null)
			var person_name = prompt("Name");
		if(person_name != null)
			var duration = prompt("Duration");
		if(duration != null){
			var data = {
				seat_id: seat_id,
				person_id: person_id,
				person_name: person_name,
				duration: duration
			};

			var settings = {
		      "async": true,
		      "crossDomain": true,
		      "url": occupy_endpoint,
		      "method": "POST",
		      "headers": {
		        "content-type": "application/json",
		        "cache-control": "no-cache",
		      },
		      "processData": false,
		      "data": JSON.stringify(data)
		    };

			$.ajax(settings).done(function(data){
				location.reload();
			})
			.fail(function(data){
				alert(JSON.stringify(data));
			})
			.always(function(data){
			});
		}
	}

	function unoccupy(seat_id){
		var data = { seat_id: seat_id };

		var settings = {
	      "async": true,
	      "crossDomain": true,
	      "url": unoccupy_endpoint,
	      "method": "POST",
	      "headers": {
	        "content-type": "application/json",
	        "cache-control": "no-cache",
	      },
	      "processData": false,
	      "data": JSON.stringify(data)
	    };

		$.ajax(settings).done(function(data){
				location.reload();
		})
		.fail(function(data){
			alert(JSON.stringify(data));
		})
		.always(function(data){
		});
	}